.dot {
    height: 15px;
    width: 15px;
    background-color: #E4B8B4;
    border-radius: 50%;
    display: inline-block;
    margin: 10 10 10 10px;
}

h2 {
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: myGeorgia;
    font-size: 38px;
    color: #C18570;
}

.group {
    text-transform: uppercase;
    font-family: myGeorgia;
    font-size: 24px;
    text-align: center;
    color: #726061;
    font-weight: bold;
    padding-bottom: 43px;
}

.words {
    font-weight: normal;
    text-transform: none;
    font-size: 18px;
}