h3 {
  text-align: center;
  font-family: myGeorgia;
  font-size: 40px;
  color: #C18570;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.iconphotos {
  text-align: center;
  margin-bottom: 30px;
  padding-left: 47px;
}

.iconphotos img {
  margin-right: 40px;
}

.iconphotos img:nth-child(3) {
  margin-left: 10px;
}

.gallery-row {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-bottom: 25px;
  text-align: center;
}

#borderimg{
  border: 1px solid #C18570;
}



@media only screen and (max-width: 600px) {
  .gallery-row {
    display: block;
  }

  #borderimg{
    width: 300px;
    height: 300px;
  }

  .galleryname{
    align-items: center;
  }

}