.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-size: 100%, 100%;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: #C18570;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: #C18570;
}

.butterytable {
    width: 100%;
    height: 30%;
    padding: 70px;
}

.posts {
    background-color: #F7ECEC;
    width: 100%;
    height: 50%;

}

.socialmedia {
    background-color: #C18281;
    width: 100%;
    height: 200px;
}

h2 {
    font-family: Goudy;
    text-transform: uppercase;
    color: #726061;
    font-weight: bold;
    text-align: center;
    padding-top: 35px;
}

.quotes {
    width: 100%;
    text-align: center;
    font-family: myGeorgia;
    font-size:18px;
    color:#968D8D;
}

.btn-quotes
{
    display:flex;
    justify-content: center;
    margin:auto;
    width:200px;
    margin-top: 35px;
}

.iconphotos
{
    text-align: center;
}
.iconphotos img
{
    margin-right:40px;
}

.iconphotos img:nth-child(3)
{
    margin:0px;
}

.post-grid img
{
    width:200px;
    height: 200px;
}

.post-grid
{
    display: grid;
    grid-template-columns: auto auto;
}

.caroimg{
    height:600px;
    margin-left: 15%;
}


@media only screen and (max-width: 600px) {
    .post-grid{
        display:block;
    }
    .mcol-4{
        display:block;
    }
    .postimg{
        padding-left: 45px;
    }
    .caroimg{
        height:250px;
        margin-left: 0%;
        width:100%;
    }

    .iconphotos{
        margin-left: 31px;
    }

}

.post-col
{
    padding:35px;
}

a:hover {
    text-decoration:none;
    color:#ffffff;
  }
  