.eline
{
    width:10%;
    border-color:#C18281;
    margin: 0 0 0 40px;
}

h4{
    font-family: myGeorgia;
    color:#726061;
    margin-bottom: 10px;
}

.btn{
    background-color: #E9B7B8;
    font-family: myGeorgia;
    color: #726061;
}

.form-group select 
{
	border: 1px solid #C18570;
}