
h2 {
  text-align: center;
  font-family: myGeorgia;
  font-size: 35px;
  color: #C18570;
  text-transform: uppercase;
}

hr{
  width:10%;
  border: 1.5px solid;
  color: #C18281;
  margin-top: 10px;
}
p{
  text-align: center;
  font-family: myGeorgia;
  font-size: 17px;
  color: #968D8D;
}

.gridstory{
  display:grid; 
  grid-template-columns: 50% 50%;
}

.storywords{
  padding-top: 110px;
}

@media only screen and (max-width: 600px) {
  .gridstory{
    display: block;
  }

  .storywords{
    padding-top: 0px;
  }
}
