* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.img1{
	margin-left:5px;
}

body {
	padding: 0;
	margin: 0;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.menu-toggle {
	display: inline-block;
	padding: .75em 15px;
	line-height: 1em;
	font-size: 1em;
	color: #333;
	position: absolute;
	top: 7px;
	left: 1px;
}

.menu-toggle:hover, .menu-toggle:focus {
	color: #C18281;
}

.main-menu {
	position: absolute;
	display: none;
	left: -200px;
	top: 0;
	transition: left 0.3s ease, box-shadow 0.3s ease;
	z-index: 999;
	margin-bottom: 35px;
}

.main-menu ul {
	list-style: none;
	margin: 0;
	padding: 2.5em 0 0;
	/* Hide shadow w/ -8px while 'closed' */
	-webkit-box-shadow: -8px 0 8px rgba(0, 0, 0, .5);
	-moz-box-shadow: -8px 0 8px rgba(0, 0, 0, .5);
	box-shadow: -8px 0 8px rgba(0, 0, 0, .5);
	min-height: 100%;
	width: 200px;
	background: #ffffff;
	font-family: Goudy;
	text-transform: uppercase;
}

.main-menu a {
	display: block;
	padding: .75em 15px;
	line-height: 1em;
	font-size: 1em;
	color: #726061;
	text-decoration: none;
}

.main-menu li:first-child a {
	border-top: 1px solid #383838;
}

.main-menu a:hover, .main-menu a:focus {
	background: #E9B7B8;
	color: white;
	display: block
}

.main-menu .menu-close {
	position: absolute;
	right: 0;
	top: 0;
}

.main-menu:target, .main-menu[aria-expanded="true"] {
	display: block;
	left: 0;
	outline: none;
	-moz-box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
	box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
}

.main-menu:target .menu-close, .main-menu[aria-expanded="true"] .menu-close {
	z-index: 1001;
}

.main-menu:target ul, .main-menu[aria-expanded="true"] ul {
	position: relative;
	z-index: 1000;
	width: 100vw;
	height: 100vh;
}

.main-menu:target+.backdrop, .main-menu[aria-expanded="true"]+.backdrop {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 998;
	background: #000;
	background: rgba(0, 0, 0, .85);
	cursor: default;
}

@supports (position: fixed) {
	.main-menu, .main-menu:target+.backdrop, .main-menu[aria-expanded="true"]+.backdrop {
		position: fixed;
	}
}

@media (min-width: 768px) {
	.menu-toggle, .main-menu .menu-close {
		display: none;
	}
	.main-menu {
		position: relative;
		left: auto;
		top: auto;
		height: auto;
		display: block;
	}
	.main-menu ul {
		display: flex;
		padding: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		height: auto;
		width: auto;
		background: none;
	}
	.main-menu a {
		font-family: myGeorgia;
		font-size: 22px;
		color: #A2A2A2;
		border: 0 !important;
	}
	.main-menu a:hover, .main-menu a:focus {
		background: none;
		color: #E9B7B8;
	}
}

*, *:before, *:after {
	box-sizing: border-box;
}

header {
	padding: 20px;
	align-items: baseline;
}

@font-face {
	font-family: "myGeorgia";
	src: url(/fontfamily/Georgia-PersonalUse.otf),
}

@font-face {
	font-family: "Goudy";
	src: url(/fontfamily/Goudy-Old-Style-Regular.ttf);
}

body {
	overflow-x: hidden;
	/* Hide horizontal scrollbar */
}

body p {
	font-family: "myGeorgia";
}

.grid-login-container {
	display: grid;
	grid-template-columns: auto auto;
}

.grid-login-container .login-container, .grid-login-container .signup-container {
	text-align: center;
	margin: auto;
}

.form-group {
	display: grid;
	grid-template-columns: 40% auto auto;
	font-family: myGeorgia;
	color: #898381;
	font-size: 19px;
}

.form-group input {
	border: 1px solid #C18570;
}

.form-group textarea {
	border: 1px solid #C18570;
}

.form-group div:first-child {
	text-align: right;
}

.form-group div:nth-child(2) {
	text-align: left;
	margin-left: 20px;
}

.bline {
	width: 100px;
	border-color: #C18281;
}

.button {
	background-color: #E9B7B8;
	border: none;
	color: white;
	padding: 7px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 30px;
	text-transform: uppercase;
}

.button:focus {
	outline: none;
	box-shadow: none;
}

.form-group input:focus {
	outline: none;
}

.checked {
	color: orange !important;
}

.fa-star {
	color: grey;
	cursor: pointer;
}

#page-container {
	position: relative;
	min-height: 80vh;
}

#content-wrap {
	padding-bottom: 2.5rem;
}

footer {
	text-align: center;
	background: #C38687;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	padding: 10px;
}

.user-nav-bar {
	padding: 20px;
	text-decoration: none;
}

.account-container, .wishlist-container {
	padding: 50px;
}

.user-nav-bar li a {
	font-size: 18px;
	font-family: myGeorgia;
	color: #A2A2A2;
}

.user-nav-bar>.active {
	color: green;
}

.user-nav-container, .account-container, .wishlist-container {
	border: 1px solid #C18570;
}

.account-grid {
	display: grid;
	grid-template-columns: 30% auto;
	height: 100vh;
	overflow-y: scroll;
}

.user-details {
	padding-left: 40px;
}

.account-hr {
	width: 100px;
	text-align: left;
	margin-left: 0;
	border-color: #C18281;
}

/*Merge Change*/

.wa-row {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	margin-bottom: 25px;
}

.fname {
	font-family: myGeorgia;
	color: #A2A2A2;
	text-transform: capitalize;
}

.wish_grid {
	position: relative;
	margin-left: 20px;
}

.wish_grid .fname {
	text-align: center;
}

.wa-row div span {
	position: absolute;
}

.nav-profile {
	text-align: right;
}

.nav-header {
	text-align: right;
}

.nav-header>div {
	display: inline;
	margin-right: 20px;
}

.nav-header .iconphotos img {
	margin: 0px;
}

.vl {
	border-left: 1px solid black;
	height: 500px;
}

/* Dropdown Button */

.dropbtn {
	color: white;
	font-size: 16px;
	border: none;
	color: black;
}

/* The container <div> - needed to position the dropdown content */

.dropdown, .nav-dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	text-align: left;
}

/* Links inside the dropdown */

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
	background-color: #ddd;
}

/* Show the dropdown menu on hover */

.a-name div {
	display: inline;
	margin-right: 30px;
}

.dropdown:hover .dropdown-content {
	display: block;
}

#notfound {
	position: relative;
	height: 100vh;
}

#notfound .notfound {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.notfound {
	max-width: 560px;
	width: 100%;
	padding-left: 160px;
	line-height: 1.1;
}

.notfound .notfound-404 {
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	width: 140px;
	height: 140px;
	background-image: url('../images/icon/emoji.png');
	background-size: cover;
}

.notfound .notfound-404:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transform: scale(2.4);
	-ms-transform: scale(2.4);
	transform: scale(2.4);
	border-radius: 50%;
	background-color: #f2f5f8;
	z-index: -1;
}

.notfound h1 {
	font-family: 'Nunito', sans-serif;
	font-size: 65px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 10px;
	color: #151723;
	text-transform: uppercase;
}

.notfound h2 {
	font-family: 'Nunito', sans-serif;
	font-size: 21px;
	font-weight: 400;
	margin: 0;
	text-transform: uppercase;
	color: #151723;
}

.notfound p {
	font-family: 'Nunito', sans-serif;
	color: #999fa5;
	font-weight: 400;
}

.notfound a {
	font-family: 'Nunito', sans-serif;
	display: inline-block;
	font-weight: 700;
	border-radius: 40px;
	text-decoration: none;
	color: #388dbc;
}

@media only screen and (max-width: 767px) {
	.notfound .notfound-404 {
		width: 110px;
		height: 110px;
	}
	.notfound {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 110px;
	}
}

/*Validation*/

.valid {
	background: #E3F7B5;
}

.non-valid {
	background: #FFCCCB;
}

.pass-validation {
	color: red;
}

/*CSSS TABLE*/

.data-table, .data-table td {
	border: 1px solid #D3D3D3;
	text-align: center;
	font-family: myGeorgia;
	font-size: 16px;
}

.data-table td, .data-table th {
	padding: 10px;
}

.image_btn_container a {
	margin-left: 20px;
}

.account-group {
	grid-template-columns: 20% auto !important;
}

.account-group div:first-child {
	text-align: left;
}

.chkbox-list div {
	display: inline;
	margin-left: 20px;
}

.uploader {
	position: relative;
	overflow: hidden;
	/*width:300px; */
	height: 350px;
	min-height: 350px;
	background: #f3f3f3;
	border: 2px dashed #e8e8e8;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

#filePhoto {
	/*position:absolute;*/
	width: 350px;
	height: 300px;
	/*    top:-50px;
    left:0;*/
	z-index: 2;
	opacity: 0;
	cursor: pointer;
}

.uploader img {
	/*position:absolute;*/
	width: 302px;
	height: auto;
	top: -1px;
	left: -1px;
	z-index: 1;
	border: none;
}

.upload-text {
	position: absolute;
}

.filephoto-container {
	border-style: dotted;
	z-index: 2;
}

.fs-active {
	position: absolute;
	border-style: none;
	width: 100vw;
	height: 100vh;
}

.fu-active {
	width: 100vw !important;
	height: 100vh !important;
}

.hr-right {
	margin-right: 0px;
	margin-left: auto;
}

.nav-header-mobile {
	display: none;
	text-align: left;
}

.account-last-name {
	float: right;
}

.account-border-style {
	border: 1px solid #C18570;
}

.fa {
	cursor: pointer !important;
}

.nav_bar .active a {
	color: #C18281;
}

#quotation-design, #quotation-comments, #enquiry-message {
	resize: none;
}

.wishlist-icon::before
{
   content: '';
   display: inline-block;
   width: 15px;
   height: 15px;
   -moz-border-radius: 7.5px;
   -webkit-border-radius: 7.5px;
   border-radius: 7.5px;
   background-color: #69b6d5;
   position: absolute;
   right: 15px;
   text-align: center;
   font-size: 10px;
}



@media only screen and (max-width: 600px) {
	.main-menu a {
		display: initial;
	}
	.nav-header-mobile {
		display: initial !important;
		text-align: left;
	}
	.nav-header {
		display: none;
	}
	.nav-header>div {
		margin-right: 10px;
	}
	.nav-header-div>a {
		padding: 10px;
	}
	/*Account menu*/
	.account-grid {
		display: initial;
	}
	.user-details {
		padding-left: 0px;
	}
	.container {
		overflow: scroll;
	}
	.account-container, .wishlist-container {
		padding: 20px;
	}
	.account-last-name {
		float: none;
		grid-area: account-last-name;
	}
	.account-first-name {
		float: none;
		grid-area: account-first-name;
	}
	.name-container {
		display: grid;
		grid-template-areas: 'account-first-name' 'account-last-name';
	}
	.wa-row {
		display: initial;
	}
	.wish_grid {
		text-align: center;
		margin-bottom: 20px;
	}
	.nav-item {
		margin-bottom: 15px!important;
	}
	.grid-login-container, .grid-login-container .form-group {
		display: initial;
	}
	.grid-login-container .form-group div:nth-child(2), .grid-login-container .form-group div:first-child {
		text-align: center;
	}
	.button {
		margin-top: 10px;
		margin-bottom: 15px;
	}
	.mq-row, .me-row {
		display: grid;
		grid-template-areas: "g-img" "g-form"
	}
	.g-img {
		grid-area: g-img;
		padding: 0;
	}
	.g-img img {
		height: auto;
	}
	.g-form {
		grid-area: g-form;
	}
	.contact-container .form-group {
		display: initial;
	}
	.form-group textarea {
		width: 230px;
	}
	.nav-dropdown {
		display: block;
	}
	.nav-dropdown .dropdown-content {
		position: initial;
	}
	.nav-dropdown .dropdown-content a {
		display: block;
	}
}