@media screen and (min-width: 1000px) {
	.nav-center
	{
		display:flex !important;
		justify-content: center;
	}
}

@font-face {
	font-family: "myGeorgia";
	src: url(/fontfamily/Georgia-PersonalUse.otf),
}
@font-face {
	font-family: "Goudy";
	src: url(/fontfamily/Goudy-Old-Style-Regular.ttf);
}

.login-container
{
	border:1px solid black;
	padding: 10px;
	width:500px;
	margin:auto;
}

.form-group label
{
	display:block;
	margin-bottom:0px;
	position: relative;
  	top:10px;
  	left:5px;
  	background: white;
    width: fit-content;
}
.form-group input
{
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 40px;
  border: 1px solid black;
  /*border-bottom:2px solid black;*/

}
.form-group input:focus
{
	outline: none;
}

.form-group input[name="user_name"]
{
  background-image: url('../images/user.png');
}


.form-group input[name="password"]
{
  background-image: url('../images/password.png');
}

.container
{
  max-width: 500px;
  margin: auto;
}