<mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h6>Are you halal certified?</h6>
      </mat-expansion-panel-header>
      We are not halal certified but our ingredients consists no pork, no lard
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h6>What kind of cakes do you do?</h6> 
      </mat-expansion-panel-header>
      We provide buttercream cakes, fondant cakes, fresh cream cakes, icing print cakes
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <h6>Are you able to recreate a similar cake that I provide?</h6> 
        </mat-expansion-panel-header>
        We do respect copyrights and will only take inspiration from references
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
        <h6>Do you do dessert tables?</h6> 
        </mat-expansion-panel-header>
        Yes we do provide dessert table packages, do drop us an email at butterytablebakery@gmail.com
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
        <h6>Can we mix the flavours for different tiers?</h6>  
        </mat-expansion-panel-header>
        Yes you can!
        <br/>
        For 2 flavours -  Additional $10
        <br/>
        For 3 flavours - Additional $15 
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
        <h6>What will be provided for cake orders?</h6>  
        </mat-expansion-panel-header>
        We provide a basic happy birthday topper, plastic knife & candles! 
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
        <h6>Do you provide customised cake toppers?</h6> 
        </mat-expansion-panel-header>
        We only provide a basic happy birthday topper. However, we do provide premium toppers at a custom rate. Do send us an inquiry via our order/enquire form to check out the pricing 
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
        <h6>Do you do delivery?</h6>  
        </mat-expansion-panel-header>
        Yes! Our delivery fees starts from $15 depending on the amount you are ordering.
        <br/>
        Deliveries to Sentosa/Tuas will incur an additional $10.
        <br/>
        Delivery days & time: Monday to Sunday: 10 am - 10 pm 
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
        <h6>Can we self-collect?</h6>  
        </mat-expansion-panel-header>
        Self-collection is available, we will arrange the pick-up time and address with you
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
        <h6>How do I transport my cake home?</h6>  
        </mat-expansion-panel-header>
        We recommend a car as a means of transport
        <br/>
        Please place cakes on a flat surface during transportation, at the leg space of the passenger seat
        <br/>
        The car should be as cool as possible when transporting the cake and drive straight to the location if possible 
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
        <h6>How do I store my cake?</h6> 
        </mat-expansion-panel-header>
        Always refrigerate your cake and defrost 1 hour prior to consumption
        <br/>
        Cakes can be placed in an air-conditioned environment for a maximum of 2 hours
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
        <h6>How long in advance should I place my order?</h6>
        </mat-expansion-panel-header>
        As all our bakes are made-to-order, we recommend you to send in your orders at least 1 - 2 weeks in advance. For urgent cases, please place orders 3 days in advance depending on slot availability
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
        <h6>When and how do I make payment?</h6> 
        </mat-expansion-panel-header>
        Payment is to be made through PayNow/Paylah/Bank transfer upon receiving the order confirmation email with the provided bank account details.
        <br/>
        <p>**Your order will only be confirmed once full payment is received</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
        <h6>Changes</h6>
        </mat-expansion-panel-header>
        We only allow changes up to 1 week before the order date.
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
        <h6>Cancellation & Refund Policy </h6>
        </mat-expansion-panel-header>
        Full refunds will be provided up to 2 weeks before the order date. Thereafter, we will not issue any refunds.
        <br/>
        <p>**Refunds will be made within a period of 4 weeks from the date of acknowledgement.</p>
      </mat-expansion-panel>

  
  </mat-accordion>