<div class="container">
    <div class="row">
      <div class="col-md-auto">
          <h1>Our Story</h1>
          At Butterytable bakery, we aim to serve customised cakes and desserts that are lower in sugar.
          Our cakes are hand-baked to perfection and meticulously coated with buttercream and fondant alike,
          using only the finest ingredients which are free from any preservatives.
          We are in the business of happiness and it is our goal to bring joy to you and your loved ones with our creations, constantly innovating new designs and flavours.
          We bake for birthdays, anniversaries, weddings, dessert tables and more.

          You can contact us at our quotation/inquiry form for any orders/inquiries.
      </div>

      <div class="col">
        <td style="width:100%;" class="text-center"><img class="img-responsive" src="https://unsplash.it/164/92"/></td>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6">
      	<h1>About Us</h1>
        <p>The story of Fleurettes begins and ends with fleur(flowers).</p>
        <p>Using handmade floral extracts and infusions, we create custom buttercream cakes for your special occassion and also to satisfy cravings!</p>
        <p>Add that touch of sweetness to your next event with our floral buttercream cakes that have layered texture and flavours as the core of the design</p>

        You can contact us at our quotation/inquiry form for any orders/inquiries.
      </div>

      <div class="col-md-6">
        <img class="img-responsive" src="https://unsplash.it/164/92" style="height:100%;">
      </div>

      <!-- <div class="col">
        <div class="col-sm">
          <h1>About Us</h1>
          <p>The story of Fleurettes begins and ends with fleur(flowers).</p>
          <p>Using handmade floral extracts and infusions, we create custom buttercream cakes for your special occassion and also to satisfy cravings!</p>
          <p>Add that touch of sweetness to your next event with our floral buttercream cakes that have layered texture and flavours as the core of the design</p>
        </div>
      </div>

      <div class="col-sm">
        <img src="https://unsplash.it/164/92" alt="Italian Trulli" style="height:100%">
      </div> -->


    </div>

  </div>
